* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

.totalList {
  /* text-decoration: none; */
  text-align: left;
  list-style-type: none;
}

.categoryCard {
  padding: 10px;
  /* border: 2px, solid, greenyellow; */
}
.cardView {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: space-between; */
  /* column-gap: 10px; */
  margin-top: 30px;
  /* align-items: flex-start; */
  /* justify-content: center; */
}
@media (max-width: 768px) {
  .cardView {
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 420px) {
  .cardView {
    display: grid;
    grid-template-columns: 1fr;
  }
}
h2.titleCategory {
  color: gainsboro;
  text-align: left;
  font-style: normal;
}
