#topContent {
    border: 1px solid red;
    text-align: center;
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
}

#content {
    display: flex;
    gap: 29px;
    justify-content: center;
    margin: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.item {
    border: 2px solid red;
    width: 450px;
    display: inline-block;
}

.item .itemHead {
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 480px) {
    .item {
        width: 100%;
    }
}